.whole-page, .footer-background {
    background-color: #07070e;
    color: rgba( 180, 180, 180, 1);
    max-width: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.header-page {
    border-color: gold;
    border-style: solid;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}
.header-page div{
    height: 40px;
    border: solid, blue; 
    border-radius: 1px;
    width: 60pc;
}
.about-link {
    display: flex;
    border-style: solid;
    border-color: gold;
    background-color: grey;
    height: 50px;
    justify-content: left;
    align-items: flex-start;
}
.rest-header {
    display: flex;
}
h1, .tagline, h2, h3, .tht, .fb-link, h4 {
    text-align: center;
}
.fb-link {
    padding-top: 30px;
}
.list-organisation {
    padding-left: 40pc;
    margin-bottom: 20px;
    
}
.Basketball, .tht {
    color: orange;
}
.Cricket {
    color: red;
}
.football, .football-list, #emphasis, .link-spot, .emphasis {
    color: purple;   
}
.football-list {
    display: flex;
    flex: 1;
    margin-left: 32pc;
    margin-right: 34pc;
    justify-content: space-around;
}
.emphasis {
    font-style: italic;
}
.link-spot {
    margin-left: 51pc;
    margin-top: -5px;
    margin-bottom: 30px;
    display: block;
}
h3, h2 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.tht {
    font-style: italic;
    font-size: small;
}
a {
    color: gold;
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
}
a:hover {
    color:rgba(237, 249, 147, 1);
}
a:visited {
    color:pink
}
.fb-photo{
    border: white, 1px, solid;
    margin-bottom: 15px;
}
footer {
    border-style: dashed;
    border-top-color: white;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-top: auto;
    padding: 20px;
}
.box-practice {
    display: flex;
    border-style: solid;
    border-color:grey;
    background-color: white;
    flex: 1;
    height: 400px;
}
.corsa-1, .corsa-2, .golf {
    display: flex;
    background-color: grey;
    flex: 1;
    height: 400px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
span {
    font-style: italic;
}
.car-header{
    display: flex;
    line-height: 35px;
    width: 100pc;
    padding-left: 10pc;
}
.corsa-1-pic, .corsa-2-pic, .golf-pic {
    display:flex;
    height: 200px;
    padding-top: 10px;
}
h4 {
    display: flex;
    margin-top: 5px;
}
.dream-cars {
    display: flex;
    margin-bottom: 100px;
    height: 350px;
    justify-content: center;
    flex: 0 0 33pc;
}
.dodge, .modern-dream {
    display: flex;
    background-color: grey;
    flex: 0 0 33pc;
    height: 350px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.dream-car-header {
        display: flex;
        background-color: grey;
        height: 80px;
        width: 68.5pc;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: -20px;
        margin-top: -30px;
}
.dodge-pic, .Lambo-pic {
    display:flex;
    height: 200px;
    padding-top: 10px;
}
.Lambo-text {
    padding-top: 30px;
}
.loml {
    margin-top: 20px;
}